PROJECT_NAME=ArchitectIQ Backend

API_V1_STR=/api/v1

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=

CHROMA_DB_PATH=./chroma_data

JWT_SECRET=

ACCESS_TOKEN_EXPIRE_MINUTES=10080

COOKIE_SECURE=false
COOKIE_SAMESITE=lax

